body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    /* animation: rotate 20s linear infinite; */
    animation-name: rotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
